<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>
    <mat-card *ngIf="user$ | async as user" class="card">
        <mat-card-title-group>
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-subtitle>{{ user.firstName }} {{ user.lastName }}</mat-card-subtitle>
            <img class="circle" mat-card-md-image [src]="user.picture" />
        </mat-card-title-group>
        <mat-card-content>
            <mat-list>
                <ng-container *ngFor="let metadata of user.profileDetailDisplay">
                    <mat-list-item [ngSwitch]="metadata.type">
                        <ng-container *ngSwitchCase="'single'">
                            <span>{{ metadata.detailKey }} </span><span>{{ metadata.value[0] }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'date'">
                            <span>{{ metadata.detailKey }} </span><span>{{ metadata.value[0] | date }}</span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'double'">
                            <span>{{ metadata.detailKey }} </span
                            ><span>{{ metadata.value[0] }}, {{ metadata.value[1] }}</span>
                        </ng-container>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </mat-card-content>
    </mat-card>
</crx-page>
