<crx-page>
    <div class="header">
        <crx-header pageTitle="profileList.pageTitle"></crx-header>
    </div>
    <div class="container">
        <mat-card class="profile" *ngFor="let user of users$ | async">
            <mat-card-content>
                <img mat-card-md-image [src]="user.picture" [alt]="user.firstName + ' ' + user.lastName" />
                <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
            </mat-card-content>
        </mat-card>
    </div>
</crx-page>
