<crx-page>
    <div class="header">
        <crx-header pageTitle="profileList.pageTitle"></crx-header>
    </div>
    <div class="container">
        <button (click)="navigateToUserProfile()" mat-raised-button color="primary">
            {{ 'profileList.selectRandomUser' | translate }}
        </button>
        <div class="profile" *ngFor="let user of users$ | async">
            <mat-card (click)="navigateToUserProfile(user)">
                <mat-card-content>
                    <img mat-card-md-image [src]="user.picture" [alt]="user.firstName + ' ' + user.lastName" />
                    <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
                    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</crx-page>
