@import "utils";
.container{
  width: 90%;
  max-width: 40rem;
  margin: auto;
  overflow: auto;
  padding: $gapLarge 0 ;
}

.profile{
  margin:$gapLarge 0 0 0;
}

.mat-card-content{
  display: flex;
  justify-content: space-between;
  
  flex: 1 0 100%;
}

mat-card{
  justify-content: center;
  display: flex;
}